extends layout

block layout-content
  section
    ul
      each activity in activities
        li
          h4= activity.name
          p start date: #{activity.start_date_local}
          p distance: #{activity.distance} meters
          p time: #{activity.elapsed_time} seconds
