doctype html

html(lang='en')
  head
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='Update attributes of your strava activities in bulk')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Strava Ride Updater

    block head
  body

    block layout-content
